In [14]:



from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss, accuracy_score

# classifiers
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [48]:
df = pd.read_csv("./train.csv")

In [4]:
df.head()

,AC,AF,AR,AS,AST,AY,AwayTeam,Date,FTR,HC,HF,HR,HS,HST,HTAG,HTHG,HY,HomeTeam,league
0,3.0,12.0,0.0,14.0,4.0,0.0,Stuttgart,07/08/09,H,6.0,12.0,0.0,13.0,7.0,0.0,0.0,0.0,Wolfsburg,bundesliga
1,1.0,10.0,0.0,7.0,0.0,1.0,FC Koln,08/08/09,H,16.0,8.0,0.0,24.0,11.0,0.0,0.0,0.0,Dortmund,bundesliga
2,3.0,20.0,0.0,15.0,3.0,2.0,Hannover,08/08/09,H,5.0,16.0,0.0,10.0,4.0,0.0,0.0,3.0,Hertha,bundesliga
3,10.0,28.0,0.0,9.0,3.0,2.0,Bayern Munich,08/08/09,D,3.0,10.0,0.0,9.0,1.0,1.0,1.0,0.0,Hoffenheim,bundesliga
4,5.0,28.0,0.0,13.0,7.0,2.0,Leverkusen,08/08/09,D,3.0,22.0,0.0,8.0,4.0,2.0,1.0,1.0,Mainz,bundesliga

In [49]:
df_cleaned = df.dropna(axis = 0, how ='any')

In [50]:
y = df_cleaned.FTR

In [51]:
X= df_cleaned.drop("FTR",axis=1)

In [56]:
X.head()

,AC,AF,AR,AS,AST,AY,HC,HF,HR,HS,HST,HTAG,HTHG,HY,AwayTeamEnc,HomeTeamEnc,leagueEnc
0,3.0,12.0,0.0,14.0,4.0,0.0,6.0,12.0,0.0,13.0,7.0,0.0,0.0,0.0,135,155,0
1,1.0,10.0,0.0,7.0,0.0,1.0,16.0,8.0,0.0,24.0,11.0,0.0,0.0,0.0,51,43,0
2,3.0,20.0,0.0,15.0,3.0,2.0,5.0,16.0,0.0,10.0,4.0,0.0,0.0,3.0,64,66,0
3,10.0,28.0,0.0,9.0,3.0,2.0,3.0,10.0,0.0,9.0,1.0,1.0,1.0,0.0,16,67,0
4,5.0,28.0,0.0,13.0,7.0,2.0,3.0,22.0,0.0,8.0,4.0,2.0,1.0,1.0,82,89,0

In [53]:
X = X.drop("Date",axis=1)

In [54]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [55]:

X["AwayTeamEnc"] = le.fit_transform(X["AwayTeam"].astype(str))
X["HomeTeamEnc"] = le.fit_transform(X["HomeTeam"].astype(str))
X["leagueEnc"] = le.fit_transform(X["league"].astype(str))
X= X.drop("AwayTeam", axis=1)
X=X.drop("HomeTeam", axis=1)
X= X.drop("league", axis=1)

In [57]:
# X -> features, y -> label 

  
# dividing X, y into train and test data 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

In [58]:
y_test

3558     D
12170    D
8990     H
10722    D
9780     A
4694     H
4003     D
3641     H
4595     H
6963     A
4556     D
5006     H
6348     A
8637     D
2327     H
397      H
11582    A
12442    D
10932    H
8263     H
11453    H
2270     H
4214     D
10073    H
5468     A
8631     A
8906     H
6914     A
11598    H
9944     H
        ..
2405     H
9013     D
2267     A
7331     H
8080     D
1685     A
138      D
3636     A
7397     H
10295    H
4296     D
632      H
12670    A
9231     A
3006     D
2661     H
3744     D
7455     H
9677     A
4105     A
11308    H
5086     D
12025    H
4106     H
4518     A
2519     D
274      H
4563     D
3759     H
7589     H
Name: FTR, Length: 3194, dtype: object

In [59]:
decision_tree = DecisionTreeClassifier(random_state=0)

# train classifier
decision_tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [60]:

# predict output
decision_tree_y_pred  = decision_tree.predict(X_test)
decision_tree_y_pred_prob  = decision_tree.predict_proba(X_test)

# evaluation
decision_tree_accuracy = accuracy_score(y_test, decision_tree_y_pred)
decision_tree_logloss = log_loss(y_test, decision_tree_y_pred_prob)

print("== Decision Tree ==")
print("Accuracy: {0:.2f}".format(decision_tree_accuracy))
print("Log loss: {0:.2f}".format(decision_tree_logloss))
print("Number of nodes created: {}".format(decision_tree.tree_.node_count))

== Decision Tree ==
Accuracy: 0.57
Log loss: 14.96
Number of nodes created: 4827

In [61]:
decision_tree_y_pred

array(['H', 'H', 'H', ..., 'D', 'H', 'H'], dtype=object)

In [62]:
from sklearn.metrics import confusion_matrix
 

results = confusion_matrix(y_test, decision_tree_y_pred)
print(results)

[[534 217 139]
 [233 294 301]
 [181 312 983]]

In [65]:
from sklearn.metrics import classification_report
target_names = ['D', 'H', 'A']
print(classification_report(y_test, decision_tree_y_pred, target_names=target_names))

              precision    recall  f1-score   support

           D       0.56      0.60      0.58       890
           H       0.36      0.36      0.36       828
           A       0.69      0.67      0.68      1476

    accuracy                           0.57      3194
   macro avg       0.54      0.54      0.54      3194
weighted avg       0.57      0.57      0.57      3194